@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?44234586');
  src: url('../font/fontello.eot?44234586#iefix') format('embedded-opentype'),
  url('../font/fontello.woff2?44234586') format('woff2'),
  url('../font/fontello.woff?44234586') format('woff'),
  url('../font/fontello.ttf?44234586') format('truetype'),
  url('../font/fontello.svg?44234586#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


.icon {
  font-family: fontello;
  position: absolute;
  color: $primary-color;
  font-size: 18px;
  top: 25%;
  left: 25%;

  i {
    font-weight: normal;
    font-style: normal;
  }

  &--big-grey {
    color: $font-color;
    font-size: 33px;
  }

  &--pencil:before {
    content: '\e803';
  }

  &--feather:before {
    content: '\e802';
  }

  &--megaphone:before {
    content: '\e800';
  }

  &--glyph:before {
    content: '\e801';
  }

  &--glyph1:before {
    content: '\e804';
  }

  &--glyph2:before {
    content: '\e805';
  }

  &--glyph3:before {
    content: '\e806';
  }

  &--glyph4:before {
    content: '\e807';
  }

  &--glyph5:before {
    content: '\e808';
  }
}