.main-nav {

  &__list {
    margin: 0;
    padding: 0;
    //font-size: 0;
    list-style-type: none;
    text-align: right;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
    font: 100 12px/1.2 #{$primary-font-family};
    color: #fff;
    text-decoration: none;
    border-top: 2px solid transparent;

    &:hover {
      border-top: 2px solid #4C76FF;
    }

  }
}