
.sprite {
  background-image: url(../img/sprite/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.sprite-dribbble {
  width: 20px;
  height: 20px;
  background-position: -5px -5px;
}

.sprite-dribbble:hover {
  width: 20px;
  height: 20px;
  background-position: -35px -5px;
}

.sprite-facebook {
  width: 10px;
  height: 18px;
  background-position: -5px -35px;
}

.sprite-facebook:hover {
  width: 10px;
  height: 18px;
  background-position: -25px -35px;
}

.sprite-google {
  width: 18px;
  height: 18px;
  background-position: -45px -35px;
}

.sprite-google:hover {
  width: 18px;
  height: 18px;
  background-position: -65px -5px;
}

.sprite-twitter {
  width: 20px;
  height: 16px;
  background-position: -73px -33px;
}

.sprite-twitter:hover {
  width: 20px;
  height: 16px;
  background-position: -73px -59px;
}
